[Unit]
Description=Christmas Claim Bot (Standard Optimized)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/itsbot
ExecStart=/usr/bin/python3 /root/itsbot/main.py --offset 0
Restart=always
RestartSec=10
StandardOutput=append:/root/itsbot/systemd_output_standard.log
StandardError=append:/root/itsbot/systemd_error_standard.log

# Performance optimizations
Nice=-10

[Install]
WantedBy=multi-user.target

